*.log
*.eif
*.tar
provider_*
actor_*
*.so
*.wasm
cids.txt
*.binding.json
enclave-policy-template.json

client-app
client-runner

.libp2p/
.layer1/
.env
local_tools*
persist-tools
push-scripts*
pull-logs*
